img {
    width: 100%;
}

h1,
h2,
h3,
a{
  font-family: "minion-pro-caption", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: 'Avenir', sans-serif;

}

body {
    background-color: white;
    margin: 0;
        display: flex;
    flex-wrap: wrap;
}

/*---------Læs mere knap--------*/
.btn {
    background: white;
    border-radius: 4px;
    border: solid black;
    padding: 12px 35px;
    opacity: 0.8;
    color: black;
    font: 20px 'Avenir', sans-serif;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    letter-spacing: 1px;


}



/*--------LINKS NAV--------*/
header {
    width: 100%;
    height: 650px;
/*    background: #141126;*/
    background: url(DSC_0024_ny.jpg);
    background-size: cover;
     margin: 0 auto;

}
.centrallinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.links a {
   display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
    padding: 0.4em 0.8em;
    border: 0.1em;
    border-radius: 0.4em;
    color: black;
    margin-top: 1em;
}
.links a:hover {
    background-color: black;
    color: white;
}


.navimg {
    width: 63vw;
    margin: 0 auto;
  flex-basis: 200px;
    max-width: 700px;




}


/*------- DESKTOP -------*/
.sectionwrapper{
    display: flex;
    flex-wrap: wrap;
}

#billeder .sectionwrapper{
    flex-direction: row;
}

#billeder .column{
    flex-basis: 200px;
    flex-grow: 1;
    max-width: 700px;
    padding-top: 5em;
}

#info .sectionwrapper {
    justify-content: space-around;
}

#info img {
    max-width: 500px;
    padding-top: 7em;

}

#baren .top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 10em;
}

#baren .top .txt {
    flex-basis: 200px;
    flex-grow: 1;
    padding: 0px 8em 0px 0em;
}
#baren .top .txt h2{
    margin-top: 0px;
}

#baren .top .img {
    flex-basis: 200px;
    flex-grow: 1;
    max-width: 510px;
    padding: 0px 8em;
}
#baren .top .barenbtn {
    padding-top: 1.4em;
}

#baren .bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding-top: 10em;
    padding-bottom: 2em;
}

#baren .bottom .txt {
    flex-basis: 200px;
    flex-grow: 1;
    padding: 0px 0em 0px 8em;
}
#baren .bottom .txt h2{
    margin-top: 0px;
}

#baren .bottom .img {
    flex-basis: 200px;
    flex-grow: 1;
    max-width: 510px;
    padding: 0px 8em;
}

#baren .bottom .barenbtn {
    padding-top: 3em;
}

/*---------FOOTER------*/

footer {
    width: 100%;
    background-color: #F2BFAA;
    padding: 60px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


footer nav a{
    text-decoration: none;
    color: white;
    padding-right: 2em;
}

/*---------FOOTER ICONS------*/

.fa {
  padding: 13px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
    border-radius: 20px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

/*------OMBAREN-------*/

#ombaren .container1 {
    flex-basis: 500px;
    padding: 4em 2em 2em 5em;
}

#ombaren .hs-responsive-embed-youtube {
    flex-basis: 500px;
    padding: 20em 0em 2em 10em;

}

#ombaren .container3 {
    flex-basis: 500px;
    padding: 0em 2em 5em 5em;

}

iframe{
    border-width: 0px;
}

/*-----KONTAKT--------*/
#kontakt .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}
#kontakt .container1 {
    flex-basis: 400px;
    padding: 8em 2em 8em 19em;
}
#kontakt .container2 {
    flex-basis: 340px;
    padding: 8em 2em 3em 8em;
}

.row {
    margin: 0px;
}


.column {
    float: left;
    width: 25%;
}

/* Content */
.content {
    background-color: white;
    padding: 20px;
}

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}


/*------MOBIL SITE-------*/

@media screen and (max-width: 420px) {

    header {
        height: 250px;
    }

    .centrallinks {
        padding-bottom: 2em;
    }

    #baren .top .img {
        padding: 0px 0px 0px 0px;
    }
    #baren .top .txt {
        padding: 10px 20px 0px 20px;
    }

    #baren .bottom .img {
        padding: 0px 0px 0px 0px;
    }
    #baren .bottom .txt {
        padding: 10px 20px 0px 20px;
    }
    #baren .bottom {
        padding-bottom: 10em;
    }

    footer nav {
        padding-left: 20px;
    }

    footer nav a {
        padding-right: 1em;
    }

    footer a.fa.fa-facebook {
        margin-top: 20px;
        margin-left: 130px;
    }

    #ombaren .container1 {
        flex-basis: 800px;
        padding: 4em 2em 4em 2em;
    }
    #ombaren .hs-responsive-embed-youtube {
        padding: 0px;
    }
    #ombaren .container3 {
        flex-basis: 500px;
        padding:50px 5px 50px 5px;
    }
    #kontakt .container1 {
        flex-basis: 400px;
        padding: 50px 1px 50px 50px;
    }
    #kontakt .container2 {
        flex-basis: 340px;
        padding: 0px 50px 50px 50px;
    }
}

