img {
    width: 100%;
    margin: 60px auto;
}

body {
    display: flex;
    flex-wrap: wrap;
}

p {
    font-family: 'Dosis', sans-serif;


}

 iframe{
     display: flex;
      flex-wrap: wrap;

        width: 600px;
        height: 400px;

     border: none;




    }

.column_cph_link{
        display: flex;
    flex-wrap: wrap;

    background-color: rgba(0, 0, 0, 0.52);

    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 1px;
    font-family: 'Dosis', sans-serif;
    margin: 50px auto;

}


/*--------LINKS NAV--------*/
header {
    width: 100%;
    height: 100%;
     margin: 0 auto;

}
.centrallinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.links a {
   display: inline-block;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    padding: 0.4em 0.8em;
    border: 0.1em;
    border-radius: 0.4em;
    color: black;
    margin-top: 1em;
    margin-bottom: 3em;
}
.links a:hover {
    background-color: black;
    color: white;
}
.navimg {
    width: 63vw;
    margin: 0 auto;
  flex-basis: 200px;
    max-width: 700px;
}

/*---------FOOTER------*/

footer {
    width: 100%;
    background-color: #F2BFAA;
    padding: 60px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer nav a{
    text-decoration: none;
    color: white;
    padding-right: 2em;
}

/*---------FOOTER ICONS------*/

.fa {
  padding: 13px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
    border-radius: 20px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}


/*-----CV--------*/

#CV{
    width:100%;

}

.sectionwrapper{
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row{
        width: 100%;
    text-align: center;
    padding: 10px 10px 10px 10px;
     flex-direction:row;
}

.column{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

#CV ul{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 10px 10px 10px;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-style: normal;

}

#CV h5{
   font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.52);
    margin: 0;
    margin-bottom: 2px;
}

#CV h4{
    margin: 0;
  font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.52);
}

#CV h1{
 font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin: 0;
    margin-bottom: 3px;
}

#CV h2{
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;


}

#CV hr{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    border-width: 3px;
    border-color: rgba(241, 109, 31, 0.39);

}



#bird {
    background-image: url(bird-01%20copy.svg);
    background-size: 100% 100%;

    width: 60vw;
    height: 33vw;

    position: absolute;
    top: 30vw;
}

.flying {
    animation-duration: 5s;
    animation-timing-function: steps(8);
    animation-fill-mode: forwards;
    animation-name: flying;
}

@keyframes flying {
    from {
        right: -30vw;
    }
    to {
        right: 80vw;
    }

}


/*------UNDERSIDER----*/
#tema3{
    width: 100%;

}
.sectionwrapper_cph{
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;

}

.column_cph{
    width: 40%;
    margin: 0 auto;
    background-color:white;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
}



.hs-responsive-embed-youtube iframe {
    width: 100%!important;
    height: 100%!important;



}

.hs-responsive-embed-youtube {

      margin: 0 auto;

    width: 100%;
    height: 500px;



}


#tema3 h1{
  font-family: 'Dosis', sans-serif;
    font-size: 2em;
    font-style: normal;
    color: rgba(241, 109, 31, 0.51);
    margin-bottom: 0;
    text-align: center;

}

#tema3 h2{
font-family: 'Dosis', sans-serif;
    font-size: 1.4em;
    font-style: normal;
    text-align: center;
    color:rgba(0, 0, 0, 0.42);
    margin-top: 0;
}

#tema3 h3{

    font-family: 'Dosis', sans-serif;
    font-size: 1em;
    font-style: normal;
    text-align:left;
    color:rgba(0, 0, 0, 0.42);
    padding: 15px 0px 0px 0px;


}


#tema3 p{
font-family: 'Dosis', sans-serif;
    font-size:1.5em;
    font-style: normal;
    text-align: left;
}

#tema3 h5 {
    font-family: 'Dosis', sans-serif;
    font-size: 4em;
    font-style: normal;
    color: rgba(240, 116, 66, 0.81);
    margin: 0;
    text-align: center;
}

#tema3 a{
font-family: 'Dosis', sans-serif;
    font-size: 1.5em;
    color: #EC6522;
    text-decoration: none;

}

#tema3 ul{
    margin: 0 auto;
    text-align: left;

    font-family: 'Dosis', sans-serif;
  font-size: 1em;
    font-style: normal;

}



/*------PORTO-----*/

.sectionwrapper_p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column_p {
    float: left;
    width: 33.3%;
    height: 100%;


}

.content_p {
    background-color: white;
    padding: 20px 20px 20px 20px;

}

#porto h3{
font-family: 'Dosis', sans-serif;
    font-size: 1.5em;
    font-style: normal;
    color: rgba(240, 116, 66, 0.46);
    margin-bottom: 1px;
    text-align: center;
}




/*-----MOBIL SITE-----*/
@media screen and (max-width: 700px){

.header {
        height: 100px;
    }

  .centrallinks {
        padding-bottom: 2em;
    }


  footer nav {
        padding-left: 20px;
    }

    footer nav a {
        padding-right: 1em;
    }

    footer a.fa.fa-facebook {
        margin-top: 20px;
        margin-left: 130px;
    }

   .content {
            padding: 0px 0px 0px 0px;
    }

    .column_p{
        width: 100%;
   margin-top: 10px;
        margin-left: 13px;
}

    .sectionwrapper_cph{
         margin-top: 3px;

    }


    .column_cph {
        width: 60%;


    }

    iframe{
        width: 100%;
        height: 400px;
        margin: 0 auto;
    }

     .hs-responsive-embed-youtube {
       width: 100%;
         margin: 0 auto;
    }

    .column_cph_tilbage{
        margin-left: 33%;
    }

  .column_cph_link{
        margin: 0;
    }




}


