img {
    width: 100%;
}


/*

.mig{
    background-image: url(mig.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    border-radius: 60%;
   height: 100%;
    width: 30%;
    border: 8px solid white;
    margin-bottom: 60px;
    margin: auto;
    display: block

}
*/



/*
.skills{
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    max-height: 50%;
        margin: 0 auto;
    padding: 2px 2px 2px 2px;
     flex-basis: 200px;
      align-self: auto;
}
*/



h2,
h3,
a{
  font-family: "minion-pro-caption", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    text-align: center;
}

h1{
      font-family: "minion-pro-caption", serif;
    font-weight: 600;
    font-style: normal;
}

h3 {
    text-align: center;
    padding: 1px 2px 1px 2px;
    font-family: 'Avenir', sans-serif;
    font-size: 1.3em;

}
h4 {
   font-family: "minion-pro-caption", serif;
    font-weight: 200;
    font-style: normal;
}

h5{
      font-family: "minion-pro-caption", serif;
    font-weight: 200;
    font-style: normal;
}



p {
    font-family: 'Avenir', sans-serif;

}





body {
    display: flex;
    flex-wrap: wrap;
}

/*---------Læs mere knap--------*/
.btn {
    background: white;
    border-radius: 4px;
    border: solid black;
    padding: 12px 35px;
    opacity: 0.8;
    color: black;
    font: 20px 'Avenir', sans-serif;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    letter-spacing: 1px;


}



/*--------LINKS NAV--------*/
header {
    width: 100%;
    height: 100%;
/*    background: #141126;*/
     margin: 0 auto;

}
.centrallinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.links a {
   display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
    padding: 0.4em 0.8em;
    border: 0.1em;
    border-radius: 0.4em;
    color: black;
    margin-top: 1em;
}
.links a:hover {
    background-color: black;
    color: white;
}
.navimg {
    width: 63vw;
    margin: 0 auto;
  flex-basis: 200px;
    max-width: 700px;




}

/*---------FOOTER------*/

footer {
    width: 100%;
    background-color: #F2BFAA;
    padding: 60px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer nav a{
    text-decoration: none;
    color: white;
    padding-right: 2em;
}

/*---------FOOTER ICONS------*/

.fa {
  padding: 13px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
    border-radius: 20px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}


/*-----CV--------*/
.sectionwrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.content{
    position: relative;
    left: 20%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 10 auto;

}
.experiences{
    position: relative;
    left:150%;
    top: 0%;
    height: 100%;
    width: 100%;


}

ul {
    font-family: 'Avenir', sans-serif;
    font-size: 1em;
    font-style: normal;
    text-align: center;
    align-self: auto;
    margin: 10 auto;
}

li{
    text-align: left;
    font-style: normal;
    font-family: 'Avenir', sans-serif;


}

/*------PORTO-----*/
.sectionswrapper_p{
        width: 33.3%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}
.column_p {
    float: left;
    width: 33.3%;
    height: 100%;


}

.content_p {
    background-color: white;
    padding: 10px 20px 10px 20px;

}

.content_pp{
      background-color: white;
    padding: 10px 20px 10px 20px;
}

.column_pp{
     float: left;
    width: 33.3%;
    height: 100%;
    position: relative;
    left: 33.3%;
}



/*-----MOBIL SITE-----*/
@media screen and (max-width: 420px)

.header {
        height: 100px;
    }

  .centrallinks {
        padding-bottom: 2em;
    }

.mig {
        width:80vw;
        height:80vw;
}






/*------MOBIL SITE-------*/

/*



    .row{
        padding: 10px 20px 0px 20px;
    }

    .column{
        padding: 10px 20px 10px 20px;
    }

    .content {
            padding: 0px 0px 0px 0px;
    }





    #kontakt .sectionwrapper {
        padding: 0px 0px 0px 0px;
    }
    #kontakt .column  {
        padding: 10px 20px 0px 20px;
    }

    #kontakt .content{
        padding: 0px 0px 0px 0px;
    }


    footer nav {
        padding-left: 20px;
    }

    footer nav a {
        padding-right: 1em;
    }

    footer a.fa.fa-facebook {
        margin-top: 20px;
        margin-left: 130px;
    }



*/



